.contextAPI {
  width: 600px;
  margin: 0 auto;
}

.legend {
  margin-top: 40px;
}

section {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

ul li:last-of-type {
  margin-top: 6px;
}

.box {
  /* background: #00A0E9; */
  /* background: #036a9a; */
  background: #f5f5f5;
  height: 120px;
  line-height: 120px;
  width: 120px;
  font-size: 20px;
}

section.double article {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

/*
This is a "custom element" syntax. I use these elements to visualize the use of Providers and Consumers.
<c-c/> - stands for Consumer
<c-p/> - stands for Provider
*/

section c-p, .provider {
  display: block;
  outline: 1px solid black;
}

section c-c, .consumer {
  display: block;
  outline: 1px solid silver;
}

section article c-c {
  outline-offset: 4px
}

section article c-c > c-c {
  outline-offset: 8px
}

section > c-p {
  outline-offset: 12px
}
section > c-p > c-p {
  outline-offset: 16px
}
